
.navcontainer{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: inset;
 
    
  }
  
  .nav{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .nav > p {
    margin-left: 100px;
    cursor: pointer;
  }
  .navform{
    margin-left: 200px;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: white;
  }
  .navform > input{
    width: 16rem;
    border: none;
    padding: 5px;
  }
  .dropdownItem{
    cursor: pointer;
    
  }
  .dropdown{
    border-radius: 50px;
  }
  
  
   /* for mobile phone */
  @media only screen and (max-width:768px) {
      
  .navcontainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    
  }
  
  .nav{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .nav > p {
    margin-left: 30px;
    cursor: pointer;
  }
  .navform{
    display: none;
  }
  .navform > input{
    width: 16rem;
    border: none;
    padding: 5px;
  }
    
      
    
    
    }